---
import Header from "../components/Header.jsx"
import Footer from "../components/Footer.astro"

interface Props{
	title: string,
	description:string,
}

const site = "https://samrank.com";
const url = site + Astro.url.pathname;

const {title, description} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="canonical" href={url} hreflang="en-US">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
	</head>
	<body>
		<Header client:load/>
		<slot />
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: black;
		overflow-x: hidden;
	}
</style>
